// Variables
@import './assets/styles/variables';

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.App-logo {
  width: 25rem;
}

.Home-Blocky {
    height: 40rem;
    width: 100vw;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33% ;
    grid-template-rows: 50% 50%;

    .block1 {
        background: $pink;
    }
    .block2 {
        background: $peach;
    }
    .block3 {
        background: $gold;
    }
    .block4 {
        background: $turquoise;
    }
    .block5 {
      background: $blue;
    }
    .block6 {
      background: $lilac;
    }

}


